*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 1, 1, 0.75),rgba(0, 1, 1, 0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 300px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #00961be2;
    position: absolute;
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position:absolute ;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.content p{
    margin: 20px;
    font-weight: 150;
    line-height: 25px;
    margin-top: 80px;
}
.content h1{
    font-size: 90px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px; 
    font-weight: bold;
    border: 2px solid #00961be2;
    background: transparent;
    color: white;
    cursor: move;
    position: relative;
    overflow: hidden;
}
span{
    background: #00961be2;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}